{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pas de Gaspi</title>
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="icon" href="{% static 'images/green.png' %}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'materialize/css/materialize.css' %}">
</head>
<body>
<header>
    <ul id="dropdown-nav" class="dropdown-content">
        <li>
            <a href="#!">
                <img src="https://cdn.1min30.com/wp-content/uploads/2017/07/Le-logo-Facebook.jpg"
                     class="responsive-img rounded" alt="facebook" width="32">
                Notre page Facebook
            </a>
            <a href="{% url 'newsletter' %}">S'abonner à la Newsletter</a>
        </li>
    </ul>
    <nav class="blue-grey darken-3">
        <div class="nav-wrapper">
            <a href="#" class="brand-logo"><img class="responsive-img" width="56" src="{% static 'images/green.png' %}"></a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li>
                    <a class="dropdown-trigger" href="#!" data-target="dropdown-nav">
                        Nous Contacter <i class="material-icons right">arrow_drop_down</i>
                    </a>
                </li>
                <li><a href="#">Aide</a></li>
            </ul>
        </div>
    </nav>
</header>

<main>
    <!-- Recherche d'un type de produit -->
    <div class="parallax-container">
        <div class="parallax"><img src="{% static 'images/lyon.jfif' %}"></div>
        <div class="container center">
            <div class="row" style="margin-top: 10%"></div>
            <div class="row">
                <div class="hide-on-small-and-down col s3"></div>
                <div class="col s12 m6">
                    <div class="row">
                        <div class="input-field col s10 z-depth-1" style="background-color: white; border-radius: 8px">
                            <input type="text" id="autocomplete-input" class="autocomplete">
                            <label for="autocomplete-input">Renseigner un objet</label>
                        </div>
                        <div class="col s2">
                            <button class="btn blue waves-effect waves-light" style="margin-top: 1.5rem;">
                                <i class="material-icons prefix">search</i>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="hide-on-small-and-down col s3"></div>
            </div>
        </div>
    </div>

    <!-- Recherche d'un département -->
    <div class="container">
        <div class="row" style="margin-top: 10%"></div>
        <div id="explication" class="row" style="display: block; opacity: 1; transition: opacity 2s">
            <div class="col s12 m4">
                <div class="row">
                    <img class="responsive-img" width="250" src="{% static 'images/search.png' %}">
                </div>
                <div class="row">
                    <h4>Recherche du produit</h4>
                    <p>Trouvez votre produit dans la barre de recherche</p>
                </div>
            </div>
            <div class="col s12 m4">
                <div class="row">
                    <img class="responsive-img" width="250" src="{% static 'images/select.png' %}">
                </div>
                <div class="row">
                    <h4>Plusieurs options s'offre à vous</h4>
                    <p>Vous pouvez déposer vos produits dans différents points de collectes sélectionné par nos
                        soins</p>
                </div>
            </div>
            <div class="col s12 m4">
                <div class="row">
                    <img class="responsive-img" width="250" src="{% static 'images/Appreciation_sjc1.svg' %}">
                </div>
                <div class="row">
                    <h4>Faites des heureux</h4>
                    <p>et ça c'est stylé</p>
                </div>
            </div>
            <div class="col s12">
                <div class="row">
                    <div class="col s12 m4">
                        <img class="responsive-img" width="250" src="{% static 'images/environment_iaus.svg' %}">
                    </div>
                    <div class="col s12 m8">
                        <h4>Pour une consommation durable et responsable</h4>
                        <p>
                            Nous oeuvrons pour vous permettre d'avoir une consommation qui soit plus
                            respectueuse de l'environnement, mais aussi de l'équité sociale et économique
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="hide-on-small-and-down col s3"></div>
            <div id="geoloc" class="col s12 m6" style="display: none; opacity: 0; transition: opacity 2s">
                <div id="anchor-geoloc" style="position: relative; top: -400px; left: 0"></div>
                <div class="row">
                    <div class="input-field col s10">
                        <input id="code-postal" type="text" class="validate">
                        <label for="code-postal">Code Postal</label>
                    </div>
                    <div class="col s2">
                        <button id="search-code-postal" class="btn blue waves-effect waves-light"
                                style="margin-top: 1.5rem;">
                            <i class="material-icons prefix">search</i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="hide-on-small-and-down col s3"></div>
        </div>
        <div class="row" style="margin-top: 10%"></div>
    </div>

    <!-- Parallax -->
    <div class="parallax-container">
        <div class="parallax"><img src="{% static 'images/lyon2.webp' %}"></div>
    </div>

    <!-- Question -->
    <div class="container center">
        <div class="row" style="margin-top: 10%"></div>
        <div id="question" class="row" style="display: none; opacity: 1; transition: opacity 2s">
            <div id="anchor-question" style="position: relative; top: -400px; left: 0"></div>
            <div class="hide-on-small-and-down col s3"></div>
            <div class="col s12 m6">

                <!-- Question 1 -->
                <div id="question-1" style="display: none; opacity: 0; transition: opacity 2s">
                    <div class="row">
                        <h4>Souhaitez-vous acheter ce type d'objet ?</h4>
                    </div>
                    <div class="row">
                        <div class="col s6">
                            <button id="non-1" class="btn blue waves-effect waves-light">Non</button>
                        </div>
                        <div class="col s6">
                            <button id="oui-1" class="btn blue waves-effect waves-light">Oui</button>
                        </div>
                    </div>
                </div>

                <!-- Question 2 -->
                <div id="question-2" style="display: none; opacity: 0; transition: opacity 2s">
                    <div class="row">
                        <h4>Est-ce que l'objet est défectueux ?</h4>
                    </div>
                    <div class="row">
                        <div class="col s6">
                            <button id="non-2" class="btn blue waves-effect waves-light">Non</button>
                        </div>
                        <div class="col s6">
                            <button id="oui-2" class="btn blue waves-effect waves-light">Oui</button>
                        </div>
                    </div>
                </div>

                <!-- Question 3 -->
                <div id="question-3" style="display: none; opacity: 0; transition: opacity 2s">
                    <div class="row">
                        <h4>
                            Que souhaitez vous faire ? => donner / réparer / trouver des pièces de rechange
                        </h4>
                    </div>
                    <div class="row">
                        <div class="col s4">
                            <button id="don" class="btn blue waves-effect waves-light">Don</button>
                        </div>
                        <div class="col s4">
                            <button id="reparer" class="btn blue waves-effect waves-light">Réparer</button>
                        </div>
                        <div class="col s4">
                            <button id="acheter" class="btn blue waves-effect waves-light">Pièces de rechange</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="hide-on-small-and-down col s3"></div>
        </div>
        <div class="row" style="margin-top: 10%"></div>
    </div>

    <!-- Resultat recherche -->
    <div id="resultat" class="container" style="display: none; opacity: 0; transition: opacity 2s">
        <div class="row center">
            <h4 id="text-resultat"></h4>
        </div>
        <div id="list-resultat" class="row"></div>
        <div class="row center">
            <h4>Abonnez vous à la Newsletter</h4>
            <p>
                <a href="{% url 'newsletter' %}">C'est par ici !</a>
            </p>
        </div>
        <div class="row" style="margin-top: 10%"></div>
    </div>

    <!-- Parallax -->
    <div class="parallax-container">
        <div class="parallax"><img src="{% static 'images/lyon3.jpg' %}"></div>
    </div>
</main>

<footer class="page-footer blue-grey darken-3">
    <div class="footer-copyright">
        <div class="container">
            ©2020 <a href="#">Lovelace, Inc.</a> Tous droits réservés
            <a class="white-text right" href="{% url 'newsletter' %}"><u>S'abonner à la Newsletter</u></a>
        </div>
    </div>
</footer>
<script src="{% static 'materialize/js/materialize.min.js' %}"></script>
<script src="{% static 'script/data.js' %}"></script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        let product = null;
        let serviceSearch = Array();
        let geoloc = document.getElementById("geoloc");
        let explication = document.getElementById("explication");
        let codePostal = document.getElementById("code-postal");
        let anchorGeoloc = document.getElementById("anchor-geoloc");
        let question = document.getElementById("question");
        let question_1 = document.getElementById("question-1");
        let question_2 = document.getElementById("question-2");
        let question_3 = document.getElementById("question-3");
        let anchorQuestion = document.getElementById("anchor-question");
        let resultat = document.getElementById("resultat");
        let textResultat = document.getElementById("text-resultat");
        let listResultat = document.getElementById("list-resultat");
        let parallax = document.querySelectorAll('.parallax');
        let autocomplete = document.querySelectorAll('.autocomplete');
        let dropdown = document.querySelectorAll('.dropdown-trigger');

        document.getElementById("search-code-postal").addEventListener('click', function (e) {
            resultat.style.opacity = "0";
            resultat.style.display = "none";
            question.style.display = "block";
            question.style.opacity = "1";
            question_1.style.display = "block";
            anchorQuestion.scrollIntoView({
                behavior: "smooth"
            });
            question_1.style.opacity = "1";
        });

        document.getElementById("oui-1").addEventListener('click', function (e) {
            serviceSearch = [0];
            afficherResultat("Voici la liste des revendeur de <b>" + product + "</b> reconditionné dans votre département");
            hide(question, resultat)
        });
        document.getElementById("non-1").addEventListener('click', function (e) {
            hide(question_1, question_2)
        });
        document.getElementById("oui-2").addEventListener('click', function (e) {
            hide(question_2, question_3)
        });
        document.getElementById("non-2").addEventListener('click', function (e) {
            serviceSearch = [0, 1, 2];
            afficherResultat("Voulez-vous faire un don aux associations ou entreprises de réparation, de pièces détachés ou de revalorisation ?");
            hide(question, resultat)
        });
        document.getElementById("don").addEventListener('click', function (e) {
            serviceSearch = [2];
            afficherResultat("Voici les association et entreprise qui aimerait recevoir votre <b>" + product + "</b>");
            hide(question, resultat)
        });
        document.getElementById("reparer").addEventListener('click', function (e) {
            serviceSearch = [0];
            afficherResultat("Voici les association et entreprise qui peuvent vous aider pour réparer votre <b>" + product + "</b>");
            hide(question, resultat)
        });
        document.getElementById("acheter").addEventListener('click', function (e) {
            serviceSearch = [1];
            afficherResultat("Voici où vous pouvez acheter des pièces détachées pour votre <b>" + product + "</b>");
            hide(question, resultat)
        });

        function hide(el, next) {
            el.style.opacity = "0";
            setTimeout(() => {
                if (next)
                    next.style.display = "block";
                setTimeout(() => {
                    next.style.opacity = "1";
                }, 500);
                el.style.display = "none";
            }, 2000)
        }

        function afficherResultat(titre) {
            textResultat.innerHTML = titre;
            for (let services in data["services"]) {
                if (data["services"][services]["service_type_id"] in serviceSearch) {
                    if (data["services"][services]["obj_type"].includes(data["productType"][product])) {
                        console.log("======== The chosen one => " + data["services"][services]);
                        let newCard = document.createElement("div");
                        newCard.innerHTML = `
                        <div class="col s12 m6">
                            <div class="card">
                                <div class="card-content">
                                    <ul class="collection">
                                        <li class="collection-item avatar">
                                          <img src="${data["services"][services]["logo"]}" alt="" class="circle">
                                          <span class="title">${data["services"][services]["name"]}</span>
                                          <p>
                                            <b>Site web</b> : <a href="${data["services"][services]["url"]}">${data["services"][services]["url"]}</a><br>
                                            <b>Description</b> : <br>
                                            ${data["services"][services]["description"]}
                                          </p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>`;
                        listResultat.append(newCard)
                    }
                }
            }
        }

        M.Dropdown.init(dropdown, {
            coverTrigger: false,
            constrainWidth: false
        });
        M.Parallax.init(parallax);
        M.Autocomplete.init(autocomplete, {
            "data": data["products"],
            "onAutocomplete": function (d) {
                hide(explication, geoloc);
                product = d;
                setTimeout(() => {
                    anchorGeoloc.scrollIntoView({
                        behavior: 'smooth'
                    });
                    setTimeout(function () {
                        codePostal.focus();
                    }, 600)
                }, 2000)
            }
        });
    });
</script>
</body>
</html>
