{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pas de Gaspi</title>
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="icon" href="{% static 'images/green.png' %}">
    <link rel="stylesheet" href="{% static 'materialize/css/materialize.css' %}">
</head>
<body>
<header>
    <nav class="blue-grey darken-3">
        <div class="nav-wrapper">
            <a href="#" class="brand-logo"><img class="responsive-img" width="56" src="{% static 'images/green.png' %}"></a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="{% url 'index' %}">Accueil</a></li>
                <li><a href="#">Aide</a></li>
            </ul>
        </div>
    </nav>
</header>

<main>
    <!-- Parallax -->
    <div class="parallax-container">
        <div class="parallax"><img src="{% static 'images/lyon2.webp' %}"></div>
    </div>
    <div class="container" style="background: transparent">
        <div class="row">
            <div class="col hide-on-small-and-down m3"></div>
            <div class="col s12 m6">
                <ul class="collapsible">
                    <li class="active">
                        <div class="collapsible-header"><i class="material-icons">filter_drama</i>Abonnement Newsletter
                        </div>
                        <div class="collapsible-body">
                            <div class="row">
                                <div class="input-field col s12">
                                    <input id="email-abo" type="email" class="validate">
                                    <label for="email-abo">Email</label>
                                </div>
                            </div>
                            <div class="row">
                                <a href="{% url 'index' %}" class="btn blue-grey darken-2 waves-effect waves-light">S'Abonner</a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="collapsible-header"><i class="material-icons">clear</i>Désabonnement Newsletter
                        </div>
                        <div class="collapsible-body">
                            <div class="row">
                                <div class="input-field col s12">
                                    <input id="email-desabo" type="email" class="validate">
                                    <label for="email-desabo">Email</label>
                                </div>
                            </div>
                            <div class="row">
                                <a href="{% url 'index' %}" class="btn blue-grey darken-2 waves-effect waves-light">Se désabonner</a>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="col hide-on-small-and-down m3"></div>
        </div>
    </div>
    <!-- Parallax -->
    <div class="parallax-container">
        <div class="parallax"><img src="{% static 'images/lyon3.jpg' %}"></div>
    </div>
</main>
<footer class="page-footer blue-grey darken-3">
    <div class="footer-copyright">
        <div class="container">
            ©2020 <a href="#">Lovelace, Inc.</a> Tous droits réservés
        </div>
    </div>
</footer>
<script src="{% static 'materialize/js/materialize.min.js' %}"></script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        let collapse = document.querySelectorAll('.collapsible');
        let parallax = document.querySelectorAll('.parallax');
        M.Collapsible.init(collapse);
        M.Parallax.init(parallax);
    });
</script>
</body>
</html>
